<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Contact Support</h1>
    <p>
      Need help with something? Receiving messages and you don't know who from?
    </p>
    <p>
      If you're being spammed, let us know as much information as you can, including what the message says and your phone number. We will stop the malicious behavior as soon as possible. You can always respond 'STOP' to the phone number and you won't receive any more messages. To start receiving them again just send 'START'.
    </p>
    <hr>
    <%= render 'form' %>
  </div>
</div>
