<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron text-center">
      <h2>Tired of copying and pasting to send group messages?</h2>
      <p class="lead">We make sending texts easy</p>
      <%= link_to "Get started", new_user_registration_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="well well-sm text-center">
      <h2>Why</h2>
      <p>We're an app to help you send text messages easily. We started with the pain point of needing to send a whole bunch of the same texts over and over again... and we created tmsg.io to help fix that pain.</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well well-sm text-center">
      <h2>How</h2>
      <p>We allow you to create an address book of your contacts and then to send messages to them via contacts or by groups that you add contacts to.</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well well-sm text-center">
      <h2>Groups</h2>
      <p>Adding contacts to groups allows you to send messages to them on a scheduled basis, be it your friends, your family or coworkers.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="well well-sm">
      <h3>Need help? Got a suggestion?</h3>
      <p>We're not perfect, but our hope is that you can use us to help ease your pains of sending messages. If you are having problems, or need help or need some feature please let us know. <%= link_to "Contact Us", new_contact_form_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
